pipeline/incremental_data_loading.json
{
	"name": "incremental_data_loading",
	"properties": {
		"activities": [
			{
				"name": "Copy data from sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} WHERE @{pipeline().parameters.cdc} > '@{activity('Lookup1').output.value[0].cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SQLDB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_DATALAKE",
						"type": "DatasetReference",
						"parameters": {
							"p_filename": {
								"value": "@concat(pipeline().parameters.table,'_',variables('current_utc'))",
								"type": "Expression"
							},
							"p_folder": "users",
							"p_container": "bronze"
						}
					}
				]
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"contaner": "bronze",
							"folder": "CDC",
							"file": "cdc.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "current",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "current_utc",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"schema": {
				"type": "String"
			},
			"table": {
				"type": "String"
			},
			"cdc": {
				"type": "String"
			},
			"file ": {
				"type": "String"
			},
			"folder": {
				"type": "String"
			},
			"container": {
				"type": "String"
			}
		},
		"variables": {
			"current_utc": {
				"type": "String"
			}
		},
		"annotations": []
	}
}