pipeline/Incremental_data_load.json
{
	"name": "Incremental_data_load",
	"properties": {
		"activities": [
			{
				"name": "cdc",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_json_datalake",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "utc_current",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "utcnow",
					"value": {
						"value": "@utcNow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SqlDB_to_Datalake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "cdc",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "utc_current",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@SELECT * FROM @{pipeline().parameters.schema}.@{pipeline().parameters.table} WHERE @{pipeline().parameters.cdc_column}> @'{activity('cdc').output.value[0].cdc}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_sqlDB",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_datalake",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@pipeline().parameters.table",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@pipeline().parameters.schema",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"table": {
				"type": "String"
			},
			"schema": {
				"type": "String"
			},
			"cdc_column": {
				"type": "String"
			}
		},
		"variables": {
			"utcnow": {
				"type": "String"
			}
		},
		"annotations": []
	}
}